<div class="row">
	<div class="col s12">
		<%= form_tag '/download', remote: true, id: 'download-form' do %>

			<div class="card z-depth-1">
				<div class="card-content">
					<div class="row mini-top-space">
						<div class="input-field col s12 ">
							<input placeholder="https://www.youtube.com/watch?v=td-v6vG2Xhs" name="url" id="input" type="url" class="validate" required>
							<label for="input">Youtube URL</label>
						</div>
					</div>
				</div>
			</div>

			<div class="card z-depth-1">
				<div class="card-content">
					<div class="row">
						<div class="col s12">
							<span class="card-title">Options</span>
							<p>
								<input class="with-gap" value="video" name="option" type="radio" id="video" required/>
								<label for="video">Download Video</label>
							</p>
							<p>
								<input class="with-gap" value="audio" name="option" type="radio" id="audio" />
								<label for="audio">Download MP3 Audio</label>
							</p>
						</div>
					</div>
				</div>
			</div>

			<button type="submit" class="btn waves-effect waves-light btn-large">
				Submit <i class="fa fa-send"></i>
			</button>
			<a class="btn waves-effect waves-light green lighten-2 btn-large hidden" download>
				Download <i class="fa fa-download"></i>
			</a>

		<% end %>
	</div>
</div>