/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "materialize";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
	background-color: #fcfcfc;
}

.input-field label {
	color: #757575;
}

.button-collapse {
	cursor: pointer;
}

nav ul a {
	font-weight: 500;
}

.nav-wrapper img {
	width: 42px;
	padding-top: 11.2px;
}

nav .brand-logo {
	font-size: 1.6em;
}

nav .brand-logo span {
	vertical-align: top;
}

.top-space {
	padding-top: 30px;
}

.mini-top-space {
	padding-top: 5px;
}

.card-content .row {
	margin-bottom: 0;
}

input[type=url]:not(.browser-default) {
	border-bottom: 2px solid #9e9e9e;
	font-size: 1.2rem;
	margin: 0 0 10px 0;	
}

input[type=url]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 2px solid #757575;
	box-shadow: none;
} 

input[type=url].invalid:not(.browser-default) {
	border-bottom: 2px solid #F44336;
	box-shadow: none;
}

.input-field label {
	font-size: 1.2rem;
}

.input-field label:not(.label-icon).active {
	transform: translateY(-17px) scale(0.8);
}

button[type=submit] {
	width: 100%;
	font-weight: 500;
}

input[type=url]:not(.browser-default):focus:not([readonly]) + label {
	color: rgba(0, 0, 0, 0.87);
}

.btn-large i {
	font-size: 1.3rem;
}

@media (max-width: 565px) {
	nav .brand-logo {
		font-size: 1.2em;
	}
	.nav-wrapper img {
		width: 42px;
		padding-top: 7px;
	}
}

@media (max-width: 461px) {
	nav .brand-logo {
		width: 201px;
	}
}